@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: 3px solid #FFD580;
  border-radius: 10px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
 
.content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right-links, .left-links{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 10px;
  
  
    
}

a{
  text-decoration: none;
  color: black;
}

.footer{
  height: 50px;
  background-color: lightgray;
  margin-top: 200px;
}
